* {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom right, #161616, #151515);
    height: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home {
    font-size: 20pt;
    padding: 0;
    margin-left: 250px;
}

.home h1 {
    margin-left: 5%;
    text-transform: uppercase;
}

.sideNav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #161616;
    overflow-x: hidden;
}

.sideNav h2 {
    font-size: 25pt;
    margin: 0;
    margin-top: 6%;
    margin-left: 30%;
}

.links {
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}

.links a {
    text-align: right;
    padding-bottom: 10%;
    margin-top: 10%;
    border-bottom: 1px white solid;
    width: 70%;
}

a {
    text-decoration: none;
}

#account {
    margin-top: 20%;
}

#current {
    color: #3f3974;
    border-bottom: 2pt solid #3f3974;
}

.searchFormDiv {
    margin-left: 10.5%;
}

#fSearch {
    width: 20%;
    border: none;
    border-radius: 50px;
    padding-left: 1%;
    color: #72787d;
}

#submitBtn {
    color: #72787d;
    background-color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

#games {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.genreTitle {
    padding: 0;
    margin: 0;
    margin-left: 10%;
}

#cards {
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#genres {
    padding: 0;
    margin: 0;
    margin-top: 1%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cards2 {
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cards3 {
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cards4 {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards:hover {
    transform: scale(105%);
}

.cards {
    height: max-content;
    transition: transform 0.5s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;
    background-color: #202020;
    box-shadow: rgba(14, 14, 14, 0.075) 7px 10px;
    border-radius: 15px;
    margin: 0.5em;
}

.cards {
    text-align: center;
}

.cards div {
    margin-right: 1em;
}

.gameName {
    width: 100%;
}

img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cards h4 {
    font-size: 15pt;
    text-align: left;
    margin-bottom: 0;
    margin-left: 0.5em;
}

.cards h3 {
    font-size: 15pt;
    margin-bottom: 0;
}

.cards p {
    font-size: 10pt;
    text-align: left;
    font-weight: lighter;
    margin-top: 0;
    margin-left: 1em;
}

.searchCards {
    margin-left: 5%;
}

#gameSpecific {
    margin: 5%;
    width: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}


.gameSpecific {
    position: relative;
    height: 60vh;
}

.gameSpecific img {
    filter: brightness(0.8);
    width: 60%;
    border-radius: 15px;
}

.gameSpecific h3 {
    position: absolute;
    width: 55%;
    left: 50%;
    top: 30%;
    font-size: 45pt;
}

.gameSpecificInfo {
    position: relative;
    margin-top: 10%;
    font-size: 12pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: cover;
}

.specificDiv {
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 20%;
}

.specificDiv h4 {
    margin: 0;
}

.specificDiv p {
    font-weight: bold;
    margin: 0;
}

#screens {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
}

#screens img {
    margin: 2%;
    width: 45%;
    transition: transform 0.5s;
}

#screens img:hover {
    transform: scale(120%);
}

#rest {
    position: relative;
    margin-top: 5%;
}

#rest h4 {
    margin: 0;
}

#rest p {
    font-weight: normal;
    margin: 0;
    margin-top: 1%;
}

#genreGames {
    margin: 2%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: cover;
    justify-content: center;
}

#genreGames div {
    margin: 2%;
}

#genreTitle {
    font-size: 50pt;
    margin-left: 5%;
    text-transform: uppercase;
}

.genres h3 {
    margin-bottom: 5%;
}

.homeCompare {
    font-size: 20pt;
    padding: 0;
    margin-left: 250px;
}

.homeCompare h1 {
    margin-left: 5%;
    text-transform: uppercase;
}

.searchForms {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
}

#fSearch1 {
    width: 70%;
    border: none;
    border-radius: 50px;
    padding-left: 2%;
    color: #72787d;
}

#fSearch2 {
    width: 70%;
    border: none;
    border-radius: 50px;
    padding-left: 2%;
    color: #72787d;
}

.results {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 5%;
    margin-left: 10%;
    justify-content: space-evenly;
}

#result1 {
    width: 100%;
    margin: 0;
}

#result2 {
    width: 100%;
    margin: 0;
}

#result1 .cards {
    width: 60%;
    margin: 5%;
}

#result2 .cards {
    width: 60%;
    margin: 5%;
}

#screens img {
    border-radius: 15px;
}

#homeComparing {
    height: 97vh;
}

.compared {
    margin: 5%;
    width: 95%;
    height: max-content;
}

.compared img {
    width: 60%;
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: rgba(14, 14, 14, 0.075) 7px 10px;
}

.compared img:hover {
    transform: scale(120%);
}

#comparedGame1Screens {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

#comparedGame1Screens img {
    width: 40%;
    margin: 2%;
}

#comparedGame2Screens {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

#comparedGame2Screens img {
    width: 40%;
    margin: 2%;
}

#comparedGame1Screens img:hover {
    transform: scale(180%);
}

#comparedGame2Screens img:hover {
    transform: scale(180%);
}

#comparedGame1Intro {
    height: 35%;
}

#comparedGame2Intro {
    height: 32%;
}

.comparingGames1 {
    display: flex;
    flex-direction: column;
}

#game2IntroComparing {
    display: flex;
    width: 60%;
}

#game2IntroComparing h4 {
    margin: 5%;
}

#game1IntroComparing {
    display: flex;
    width: 60%;
}

#game1IntroComparing h4 {
    margin: 5%;
}

.compared h6 {
    margin: 0;
}

.compared h5 {
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #151515;
}

::-webkit-scrollbar-thumb {
    background: rgb(65, 65, 65);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 50px;
}

#goBack {
    font-size: 12pt;
    margin-bottom: 2%;
    width: max-content;
    transition: 0.5s;
}

#goBack::before {
    content: "\25B6";
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    margin-right: 13px;
    padding-bottom: 3px;
    font-size: 12px;
    transform: rotate(180deg);
}

#goBack:hover {
    transform: scale(110%);
    transition: 0.5s;
}

#goBackGenre {
    font-size: 12pt;
    margin-bottom: 2%;
    width: max-content;
    transition: 0.5s;
}

#goBackGenre::before {
    content: "\25B6";
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    margin-right: 13px;
    padding-bottom: 3px;
    font-size: 12px;
    transform: rotate(180deg);
}

#goBackGenre:hover {
    transform: scale(110%);
    transition: 0.5s;
}

#goBackGenres {
    font-size: 12pt;
    margin-bottom: 2%;
    margin-left: 10%;
    width: max-content;
    transition: 0.5s;
}

#goBackGenres::before {
    content: "\25B6";
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    margin-right: 13px;
    padding-bottom: 16px;
    font-size: 12px;
    transform: rotate(180deg);
}

#goBackGenres:hover {
    transform: scale(110%);
    transition: 0.5s;
}

.links {
    margin-top: 20%;
}

.fav {
    cursor: pointer;
    width: max-content;
}

.fav:active {
    transform: scale(120%);
}

#title {
    font-size: 35pt;
    margin-left: 5%;
    text-transform: uppercase;
}

#recGames {
    padding: 0;
    margin: 0;
    margin-top: 1%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#invisibleBtn {
    background: transparent;
    border: none;
    color: rgba(255, 228, 196, 0);
    cursor: pointer;
}